.checkbtn {
    color: #ffff;
    font-size: 25px;
    margin-right: 20px;
    padding: 4px 5px 1px 5px;
    /* display: none; */
    border-radius: 5px;
    border: 2px solid #ffff;
    
}
#check {
    display: none;
}


@media (max-width:576px) {
    
    /* FOR NAVBAR */
    .navlinks {
        background-color: #55c4e9;
        position: absolute;
        top: 100px;
        flex-direction: column;
        display: none;
        height: 300px;
        width: 100%;
    }
    .navlinks li {
        background-color:rgb(37,35,100);
        height: 24.5%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navlinks li:hover{
        background-color: #220fc569
        ;

    }
    .checkbtn {
        display: block;
    }

    #check:checked~.navlinks {
        display: flex;
    }

    .text{
        font-size: 20px;
        padding: 150px 0 0 220px;
        /* width: 100%; */
    }
    .text h1{
        width: 100%;
        text-align: center;
    }
    .text button {
        padding: 10px;
        font-size: 20px;
        border-radius: 20px 5px ;
        border: 2px solid black;
        background-color: transparent;
        margin-top: 20px;
    }
    .cardcontainer {
    height: 100%;
    width: 100%;
    /* background-color: aqua; */
    padding: 30px 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(330px,1fr));
    gap: 2rem;
    
    }
     .card {
    background-color:rgb(255, 255, 255);
    height: 65vh;
    width: 80%;
    border-radius: 20px 0px 20px 0px;
    box-shadow: 2px 8px 8px 3px rgb(31, 28, 28);
    }
    .card1 {
        background-color:rgb(255, 255, 255);
        height: 65vh;
        width: 80%;
        border-radius: 20px 0px 20px 0px;
        box-shadow: 2px 8px 8px 3px rgb(31, 28, 28);
    }

}